.search-bar {
  -webkit-transition: linear 1s;
  -moz-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}

.search-bar.ng-enter{
  opacity: 0;
}
.search-bar.ng-enter-active{
  opacity: 1;
}
.search-bar.ng-leave{
  opacity: 1;
}
.search-bar.ng-leave-active{
  opacity: 0;
}
