.search-bar {
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  transition: linear 0.5s;

  position: absolute;
  top: 0px;
  z-index: 0;
  margin: 0px;
  height: $search-bar-height;
  background-color: $search-bar-bg;
}
.search-bar.ng-enter{
  height: 0px;
}
.search-bar.ng-enter-active{
  height: $navbar-height;
}
.search-bar.ng-leave{
  height: $navbar-height;
}
.search-bar.ng-leave-active{
  height: 0px;
}


.search-bar form{
  background-color: yellow;
  margin-top: $search-bar-padding-vertical;
}
