.navbar {
  .navbar-nav > li > a, .navbar-brand {
    color: $navbar-default-link-color;
    &:hover,
    &:focus,
    &.focus {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-bg-hover;
    }
  }

  .navbar-brand {
    color: $navbar-default-link-color;
    &:hover,
    &:focus,
    &.focus {
      background-color: $navbar-default-bg;
    }

  }

  .btn-navbar {
    @include button-variant($btn-navbar-color, $btn-navbar-bg, $btn-navbar-border);
  }

}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    text-align: center;
  }

  .navbar-center {
    display: inline-block;
    float: none;
    margin: 0;
  }

  .navbar-nav > li {
    height: 45px;
  }
}

.navbar-collapse form[role="search"] .input-group {
  width: 60%;
  position: absolute;
  top: 0px;
  right: 20%;
  padding: 0px;
  margin: 0px;
  z-index: 0;
}

.navbar-collapse form[role="search"] input {
  padding: 8px 12px;
  border-radius: 0px;
  border-width: 0px;
  background-color: $navbar-default-bg-hover;
  color: $navbar-default-link-color;
  box-shadow: none;
  outline: none;
  height: 50px;
}