<div class="question-display">
  <h3 class="title">{{displayQuestionMultipleChoiceController.question.question}}</h3>

  <form>
    <div class="form-group row" form-step-validity>
      <!--<label class="col-sm-2">Checkbox</label>-->
      <div class="col-sm-12" ng-repeat="choice in displayQuestionMultipleChoiceController.question.choices">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="question-id-{{displayQuestionMultipleChoiceController.question.id}}"
                   id="choice-id-{{choice.id}}"
                   ng-model="choice.isChecked"
                   ng-change="displayQuestionMultipleChoiceController.validate()">
            {{choice.description}}
          </label>
        </div>
      </div>
    </div>
  </form>

</div>