.collapse {
  > ul > li > a > i {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 10px -4px 0 0;
  }
}

.navbar-brand {
  padding: 0 15px;
  span {
    display: table-cell;
    vertical-align: middle;
    transition: height 0.3s;
    height: $navbar-height;
  }
}

.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  li {
    text-transform: uppercase;
    font-size: $navbar-default-link-font-size;
  }

  > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav > .open > a, .navbar-nav > .active > a {
    &,
    &:hover,
    &:focus {
      border-bottom: 1px solid $navbar-default-link-active--border;
    }
  }
}
// Dropdowns
.dropdown-menu {
  background-color: $navbar-default-dropdown-bg;
  color: $navbar-default-dropdown-link-color;
  text-transform: uppercase;
  padding: 0;

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($navbar-default-dropdown-divider-bg);
  }

  // For dropdown menus with multiple columns
  .row, .row div {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .row div {
    border-left: 1px solid $navbar-default-dropdown-divider-bg;
  }
  .row div:first-of-type {
    border-left: none;
  }

  // Links within the dropdown menu
  li a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    padding: 12px;
    color: $navbar-default-dropdown-link-color;
    border-top: 1px solid $navbar-default-dropdown-border-color;
    transition: background 0.3s;
  }

  // Hover/Focus and Active state
  li a, .active a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $navbar-default-dropdown-hover-link-color;
      background-color: $navbar-default-dropdown-hover-bg;
    }
  }

}

.dropdown-menu {
  min-width: 500px;
  left: -200px;
}

.navbar-toggle {
  margin: 35px 15px;
}