.navbar {
  border-radius: 0px !important;
  font-size: $navbar-font-size;

  .container {
    border-bottom: .1rem solid hsla(0, 0%, 100%, .3);
  }

  .navbar-brand {
    font-size: $navbar-font-size;
  }

  //uncollapsed nav
  @media (min-width: $grid-float-breakpoint) {
    .navbar-nav {
      > li > a {
        &:hover,
        &:focus {
          color: $navbar-inverse-link-hover-color;
          border-bottom: .4rem solid $navbar-inverse-link-active-border-color;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-inverse-link-active-color;
          border-bottom: .4rem solid $navbar-inverse-link-active-border-color;
        }
      }
    }
  }

  //.navbar-collapse.collapse {
  //  text-align: center;
  //}
  //
  //.navbar-center {
  //  display: inline-block;
  //  float: none;
  //  margin: 0;
  //}
}

.navbar-transparent {
  transition: background-color 1s ease;
  background-color: transparent;
  border: none;
}

.navbar-transparent.ui-scrollpoint {
  background-color: $navbar-inverse-bg;
}

.navbar-gap {
  //height: $navbar-gap-height;
  margin-bottom: $navbar-gap-height;
  background-color: #000066;
}

.btn-language {
  border: .1rem solid hsla(0, 0%, 100%, .6);
  border-radius: 1.7rem;
  line-height: 0;
  padding: 1.7rem 2rem 1.5rem;
  transition: background-color .4s, border-color .4s;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: transparent;
}

.btn-language:hover {
  background-color: hsla(0, 0%, 100%, .1);
}