.multi-step-container-header {
  padding: 15px;
}

.multi-step-container-footer {
  padding: 15px 20%;

  .btn {
    width: 100px;
  }
}

.sliding-steps {

  main {
    position: relative;
    overflow: hidden;
  }

  main .form-step-container {
    position: relative;
    width: 100%;
  }

  .form-step.ng-leave {
    -webkit-transition: transform 0s ease-in-out;
    transition: transform 0s ease-in-out;
  }
  .form-step.ng-enter {
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
  }

  .step-forward {
    .form-step.ng-enter {
      transform: translateX(100%);
    }

    .form-step.ng-enter.ng-enter-active {
      transform: translateX(0);

    }

    .form-step.ng-leave {
      /*transform: translateX(100%);*/
    }

    .form-step.ng-leave.ng-leave-active {
      transform: translateX(-100%);
    }
  }

  .step-backward {
    .form-step.ng-enter {
      transform: translateX(-100%);
    }

    .form-step.ng-enter.ng-enter-active {
      transform: translateX(0);
    }

    .form-step.ng-leave {
      /*transform: translateX(100%);*/
    }

    .form-step.ng-leave.ng-leave-active {
      transform: translateX(100%);
    }
  }
}