/* navbar */
$navbar-default-bg: #3e454c !default;
$navbar-default-bg-hover: #2d3237 !default;
$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: #fff !default;
$navbar-default-link-active-color: #fff !default;
