/* setup path for font-awesome */
$fa-font-path: "/bower_components/font-awesome/fonts" !default;

/* header */
$navbar-height: 120px !default;
$nav-link-padding: 100px;

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color: #fff !default;
$navbar-inverse-bg: #242424 !default;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color: #fff !default;
$navbar-inverse-link-hover-color: darken($navbar-inverse-link-color, 15%) !default;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg: $navbar-inverse-bg !default;


/* search-bar */
$search-bar-height: $navbar-height !default;
$search-bar-bg: $navbar-inverse-bg !default;
$search-bar-input-height: 50px !default;
$search-bar-padding-vertical: floor(($search-bar-height - $search-bar-input-height) / 2) !default;

//btn-search-bar
$btn-search-bar-color: #fff !default;
$btn-search-bar-bg: transparent !default;
$btn-search-bar-border: transparent !default;

//
/*footer*/
$footer-bg-color: #f2f2f2 !default;
$footer-text-color: #999999 !default;
$footer-link-color: #999999 !default;
$footer-header-color: #205D7A !default;
$footer-border-color: #DDDDDD !default;
$footer-bottom-bg-color: #f2f2f2 !default;
$footer-social-icons-bg-color: #205D7A !default;
$footer-social-icons-content-color: #fff !default;
