<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
          <h3 translate="FOOTER.HEADERS.ABOUT"></h3>
          <ul>
            <li><a href="#" translate="FOOTER.ABOUT.ITEMS.OLD_PANDA"></a></li>
            <li><a href="#" translate="FOOTER.ABOUT.ITEMS.SUGGESTIONS"></a></li>
            <li><a href="#" translate="FOOTER.ABOUT.ITEMS.LEGAL"></a></li>
            <li><a href="#" translate="FOOTER.ABOUT.ITEMS.ADVERTISE"></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
          <h3 translate="FOOTER.HEADERS.SUPPORT"></h3>
          <ul>
            <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.SUPPORT_HOME"></a></li>
            <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.COMMUNITY">Community</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
          <h3 translate="FOOTER.HEADERS.SOCIAL"></h3>
          <ul>
            <li><a href="#" translate="FOOTER.SOCIAL.ITEMS.FACEBOOK"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="#" translate="FOOTER.SOCIAL.ITEMS.TWITTER"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="#" translate="FOOTER.SOCIAL.ITEMS.GOOGLE_PLUS"><i class="fa fa-google-plus"></i>Google+</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
          <h3 translate="FOOTER.HEADERS.NEWS_LETTER"></h3>
          <ul>
            <li>
              <div class="input-group">
                <input type="text" placeholder="Email ">
                <button type="submit" class="btn btn-success btn-sm">Subscribe Now!</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> © {{year}} {{company.name}}.</p>

      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>