<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
          <h3>About</h3>
          <ul>
            <li><a href="#">Old Panda</a></li>
            <li><a href="#">Suggestion</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Advertise</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
          <h3>Help</h3>
          <ul>
            <li><a href="#">Help Home</a></li>
            <li><a href="#">Community</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
          <h3>Social</h3>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i>Google+</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
          <h3>News letter</h3>
          <ul>
            <li>
              <div class="input-group">
                <input type="text" placeholder="Email ">
                <button type="submit" class="btn btn-success btn-sm">Subscribe Now!</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>

      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>