<header ng-class="{'navbar-gap': !app.state.includes('main')}" ng-controller="NavbarController as navbar">

  <div class="navbar navbar-fixed-top navbar-inverse navbar-transparent"
       ng-class="{'navbar-transparent': app.state.includes('main')}" ui-scrollpoint="680">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" translate="APP_NAME"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-center">
          <li>
            <a ng-href="#/about">
              <div translate="MENU.ABOUT"></div>
            </a>
          </li>
          <li>
            <a ng-href="#/support">
              <div translate="MENU.SUPPORT"></div>
            </a>
          </li>
          <li>
            <a ng-href="#/contact">
              <div translate="MENU.CONTACT"></div>
            </a>
          </li>
        </ul>

        <form class="navbar-form navbar-right" role="search">
          <op-animated-dropdown class="dropdown">
            <button class="btn-language" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
              EN
            </button>
            <ul class="dropdown-menu" data-dropdown-in="flipInX" data-dropdown-out="flipOutX"
                aria-labelledby="dropdownMenu1">
              <li><a href="/use-cases">English</a></li>
              <li><a href="/fr/use-cases">French</a></li>
              <li><a href="/de/use-cases">German</a></li>
              <li><a href="/jp/use-cases">Japanese</a></li>
              <li><a href="/kr/use-cases">Korean</a></li>
            </ul>
          </op-animated-dropdown>
        </form>


        <form class="navbar-form navbar-right" role="search">
          <button class="btn btn-transparent-icon" ng-click="app.display.searchBar=true"><i
              class="fa fa-search fa-2x"></i>
          </button>
        </form>

      </div>
      <!-- /.navbar-collapse -->


    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.navbar -->

  <div class="search-bar" ng-show="app.display.searchBar"
       ng-class="{'expandInDown': app.display.searchBar, 'collapseOutUp': !app.display.searchBar}">
    <div class="container">
      <form role="search">
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-transparent-icon"><i class="fa fa-search fa-2x"></i></button>
          </div>
          <input type="text" class="form-control" maxlength="100" placeholder="Search"/>

          <div class="input-group-btn">
            <button class="btn btn-transparent-icon" ng-click="app.display.searchBar=false"><i
                class="fa fa-times fa-2x"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div style="background-color: #000000; position: relative; padding-top: 200px;">
    <pre>navbar.properties.title:{{navbar.properties.title}}</pre>
    <pre>navbar.properties.transparency:{{navbar.properties.transparency}}</pre>
    <pre>navbar.properties.navbarGap:{{navbar.properties.navbarGap}}</pre>
    <pre>navbar.properties.scrollpointOffset:{{navbar.properties.scrollpointOffset}}</pre>
    <pre>navbar.properties.$location.path() = {{navbar.properties.$location.path()}}</pre>
  </div>
</header><!-- /header -->
