<header>

  <div class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" translate="APP_NAME"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-center">
          <li class="active">
            <a ng-href="#/about">
              <div translate="MENU.ABOUT"></div>
            </a>
          </li>
          <li>
            <a ng-href="#/support">
              <div translate="MENU.SUPPORT"></div>
            </a>
          </li>
          <li>
            <a ng-href="#/contact">
              <div translate="MENU.CONTACT"></div>
            </a>
          </li>
        </ul>

        <form class="navbar-form navbar-right" role="search">
          <button class="btn btn-navbar" ng-hide="searchExpand" ng-click="searchExpand = true"><i
            class="glyphicon glyphicon-search gly-spin"></i></button>

          <div class="input-group" ng-show="searchExpand">
            <input type="text" class="form-control" maxlength="100" placeholder="Search"/>
            <span class="input-group-btn">
              <button class="btn btn-navbar" ng-click="searchExpand = false"><i
                class="glyphicon glyphicon-remove gly-spin"></i></button>
               </span>
          </div>
        </form>

      </div>
      <!-- /.navbar-collapse -->


    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.navbar -->
  <!--<div class="search-bar" ng-if="app.display.searchBar">-->
  <div class="search-bar">
    <div class="container">
      <form role="search">
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-search-bar no-glow"><i class="glyphicon glyphicon-search gly-spin no-glow"></i>
            </button>
          </div>
          <input type="text" class="form-control no-glow" maxlength="100" placeholder="Search"/>

          <div class="input-group-btn">
            <button class="btn btn-search-bar no-glow"><i class="glyphicon glyphicon-remove gly-spin no-glow"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <button class="btn" ng-click="app.display.searchBar=!app.display.searchBar">Display search bar</button>

</header><!-- /header -->
