<div class="header">
  <div class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" translate="APP_NAME">Brand</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-center">
          <li class="active">
            <a ng-href="#/about">
              <div translate="MENU.ABOUT"></div>
            </a>
          </li>
          <li>
            <a ng-href="#/support">
              <div translate="MENU.SUPPORT"></div>
            </a>
          </li>
          <li>
            <a ng-href="#/contact">
              <div translate="MENU.CONTACT"></div>
            </a>
          </li>
        </ul>


        <form class="navbar-form navbar-right search" role="search">
          <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
          <button class="btn btn-navbar"><i class="glyphicon glyphicon-search gly-spin"></i></button>
        </form>

      </div>
      <!-- /.navbar-collapse -->


    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.navbar -->
</div><!-- /.header -->