<header ng-controller="DeviceTypeController as deviceType">

  <nav class="navbar navbar-default" ng-class="{'navbar-fixed-top': !deviceType.isMobile}">
    <div class="container-fluid">
      <div id="main-search" class="main-search" ng-class="{'active': app.display.searchBar}">
        <button type="button" class="fa fa-search" ng-click="app.display.searchBar=!app.display.searchBar"></button>
        <form role="search">
          <input type="text" class="form-control" maxlength="100" placeholder="Search"/>
        </form>
      </div>


      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="navbar-brand">
          <span>
            <a ng-href="#/main"><img src="images/logo.png" width="111" height="58" alt=""></a>
          </span>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#" translate="MENU.ABOUT"> <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="#" translate="MENU.CONTACT"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              PORTFOLIO
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                  Sub-Dropdown
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Sub-Sub-Action</a></li>
                  <li><a href="#">Sub-Sub-Another action</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Categories
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled">
                    <li ng-repeat="item in header.getSubMenus(13, 'CATEGORIES 1 COL')">
                      <a ng-href="#/category">{{item}}</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="list-unstyled">
                    <li ng-repeat="item in header.getSubMenus(13, 'CATEGORIES 2 COL')">
                      <a ng-href="#/category">{{item}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-controller="TranslateController as translate">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">LANGUAGES <span class="caret"></span></a>
            <ul class="dropdown-menu" data-dropdown-in="flipInX" data-dropdown-out="flipOutX"
                aria-labelledby="dropdownMenu1">
              <li ng-repeat="locale in translate.locales"><a ng-click="translate.dropboxitemselected(locale.id)"
                                                             translate="{{locale.name}}"></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="header-gap"></div>
</header>