<header id="page-header-bottom" class="page-header-bottom fixed">
  <div class="grid-row">
    <!-- main search -->
    <div id="main-search" class="main-search" ng-class="{'active': app.display.searchBar}">
      <button type="button" class="fa fa-search" ng-click="app.display.searchBar=!app.display.searchBar"></button>
      <form role="search">
        <input type="text" class="form-control" maxlength="100" placeholder="Search"/>
      </form>
    </div>
    <!--/ main search -->

    <!-- logo -->
    <div class="logo">
      <span><a ng-href="#/main"><img src="images/logo.png" width="111" height="58" alt=""></a></span>
    </div>
    <!--/ logo -->

    <!-- main nav -->
    <nav id="main-nav" class="main-nav" op-animated-menu>
      <a href="#" class="switcher">Menu<i class="fa fa-bars"></i></a>
      <ul>
        <li class="active">
          <a ng-href="#/main">Home</i></a>
        </li>
        <li class="mega">
          <a href="#">Templates<i class="fa fa-angle-down"></i></a>

          <div>
            <div class="row">
              <div class="col col-3">
                <ul>
                  <li ng-repeat="item in header.getSubMenus(13, 'NAME OF ITEMS 1 COL')"><a
                      ng-href="#/about">{{item}}</a></li>
                </ul>
              </div>
              <div class="col col-3">
                <ul>
                  <li ng-repeat="item in header.getSubMenus(13,'NAME OF ITEMS 2 COL')"><a ng-href="#/about">{{item}}</a>
                  </li>
                </ul>
              </div>
              <div class="col col-3">
                <ul>
                  <li ng-repeat="item in header.getSubMenus(13, 'NAME OF ITEMS 3 COL')"><a
                      ng-href="#/about">{{item}}</a></li>
                </ul>
              </div>
              <div class="col col-3">
                <ul>
                  <li ng-repeat="item in header.getSubMenus(13, 'NAME OF ITEMS 4 COL')"><a
                      ng-href="#/about">{{item}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#">Pages<i class="fa fa-angle-down"></i></a>
          <ul>
            <li>
              <a href="#">About Us<i class="fa fa-angle-right"></i></a>
              <ul>
                <li ng-repeat="item in header.getSubMenus(4, 'About')"><a ng-href="#/about">{{item}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Services<i class="fa fa-angle-right"></i></a>
              <ul>
                <li ng-repeat="item in header.getSubMenus(2, 'Services')"><a ng-href="#/about">{{item}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Team<i class="fa fa-angle-right"></i></a>
              <ul>
                <li ng-repeat="item in header.getSubMenus(3, 'Team')"><a ng-href="#/about">{{item}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Forms<i class="fa fa-angle-right"></i></a>
              <ul>
                <li ng-repeat="item in header.getSubMenus(4, 'Forms')"><a ng-href="#/about">{{item}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Portfolio<i class="fa fa-angle-down"></i></a>
          <ul>
            <li ng-repeat="item in header.getSubMenus(9, 'Portifolio')"><a ng-href="#/about">{{item}}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Blog<i class="fa fa-angle-down"></i></a>
          <ul>
            <li ng-repeat="item in header.getSubMenus(5, 'Blog')"><a ng-href="#/about">{{item}}</a></li>
          </ul>
        </li>
        <li class="mega mega-alt">
          <a href="#">Shop<i class="fa fa-angle-down"></i></a>

          <div>
            <div class="row">
              <div class="col col-6">
                <ul>
                  <li ng-repeat="item in header.getSubMenus(6, 'Shop')"><a ng-href="#/about">{{item}}</a></li>
                </ul>
              </div>
              <div class="col col-6 col-vam">
                <p>Featured product</p>
                <a href="shop-details.php"><img src="../../../images/main-slideshow-lonely-planet2.jpg" width="325"
                                                height="663" alt=""></a>

                <p>Only 600$</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#">Contacts</i></a>
        </li>
      </ul>
    </nav>
    <!--/ main nav -->
  </div>


  <script src="../navbar/wego.js"
</header>