<div>
  <p>
    Expert questionnaire
  </p>

</div>

<section>
  <div class="container">

    <div class="panel panel-primary">
      <div class="panel-heading">Head</div>
      <div class="panel-body">

        <multi-step-container steps="expertQuestionnaire.steps" ng-if='expertQuestionnaire.steps.length'
                              class="sliding-steps simple-prev-next"
                              search-id="'check'">

            <header>
                <strong ng-bind-template="{{$getActiveIndex()}} / {{$getSteps().length}}"></strong>
            </header>

            <main step-container></main>

            <footer>
                <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
                    <span class="fa fa-chevron-left"></span>
                    Previous
                </button>
                <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
                    Next
                    <span class="fa fa-chevron-right"></span>
                </button>
            </footer>
        </multi-step-container>

      </div><!--end:panel-body-->
    </div><!--end:panel-->

  </div><!--end:container-->
</section>


<pre>{{ expertQuestionnaire | json}}</pre>
