/* reset */
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockquote, pre,
a, address, del, em, strong, sub, sup, i, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  vertical-align: baseline;
}


body {
  background: #fff;
  font-family: $base-font-family;
  font-size: $base-font-size-m;
  font-weight: $base-font-weight-light;
  color: $base-font-color;
  -webkit-text-size-adjust: none;
  opacity: 0;
  transition: opacity 0.3s;

}

body.ready {
  opacity: 1;
}

* {
  transition: all 300ms ease-out 0s;
}