/* Animation mixing */

@mixin animation($animaion-definition) {
  -webkit-animation: #{$animaion-definition};
  -moz-animation: #{$animaion-definition};
  -ms-animation: #{$animaion-definition};
  -o-animation: #{$animaion-definition};
  animation: #{$animaion-definition};
}

@mixin keyframes($animation-name) {
  //@-webkit-keyframes #{$animation-name} {
  //  @content;
  //}
  //@-moz-keyframes #{$animation-name} {
  //  @content;
  //}
  //@-ms-keyframes #{$animation-name} {
  //  @content;
  //}
  //@-o-keyframes #{$animation-name} {
  //  @content;
  //}
  @keyframes #{$animation-name} {
    @content;
  }
}

/* Generate slide show */
@mixin generate-slideshow-animation($number-images, $class, $duration-per-slide) {

  $total-duration: $duration-per-slide * $number-images;
  $total-frames-visible: ceil(10 / $number-images);
  $last-frame-visible: -1;

  @for $i from 1 through $number-images {
    .#{$class}-#{$i} {
      @include animation(#{$class}-#{$i} #{$total-duration} infinite);
      //animation: #{$class}-#{$i} #{$totalDuration} infinite;
      //-o-animation: #{$class}-#{$i} #{$totalDuration} infinite;
      //-moz-animation: #{$class}-#{$i} #{$totalDuration} infinite;
      //-webkit-animation: #{$class}-#{$i} #{$totalDuration} infinite;
    }

    @include keyframes(#{$class}-#{$i}) {
      $count-frames-visible: 0;
      @for $keyframe from 0 through 10 {
        $opacity: 0;

        @if ($count-frames-visible < $total-frames-visible and $keyframe > $last-frame-visible) {
          $opacity: 1;
          $last-frame-visible: $keyframe;
          $count-frames-visible: $count-frames-visible + 1;
        }
        @if ($i == $number-images and $keyframe == 0) {
          $opacity: 1;
        }

        #{$keyframe * 10%} {
          opacity: #{$opacity};
        }
      }

    }
  }
}
