<footer>
  <!-- Footer Top -->
  <div class="footer-top footer-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="newsletter">
            <h4 translate="FOOTER.NEWSLETTER.TITLE"></h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="newsletter text-right">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="icon-addon addon-lg">
                  <input placeholder="{{'FOOTER.NEWSLETTER.EMAIL_PLACEHOLDER' | translate}}" class="form-control"
                         id="email" type="text">
                  <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                </div>
                <span class="input-group-btn">
                    <button class="subscribe_btn" type="button" translate="FOOTER.NEWSLETTER.BTN_SUBSCRIBE"></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Middle -->
  <div class="footer-middel footer-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="footer-link address">
            <p translate="APP_NAME"></p>
            <ul>
              <li><span translate="FOOTER.CONTACTS.ADDRESS_LABEL" class="bold"></span><span class="bold">: </span><span
                  translate="COMPANY.INFO.ADDRESS"></span></li>
              <li><span translate="FOOTER.CONTACTS.PHONE_LABEL" class="bold"></span><span class="bold">: </span><span
                  translate="COMPANY.INFO.PHONE"></span></li>
              <li><span translate="FOOTER.CONTACTS.EMAIL_LABEL" class="bold"></span><span class="bold">: </span><span
                  translate="COMPANY.INFO.EMAIL"></span></li>
            </ul>
          </div>
          <div class="footer-social-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="footer-link res_mar">
            <p translate="FOOTER.HEADERS.SUPPORT"></p>
            <ul>
              <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.24_7_SUPPORT"></a></li>
              <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.REFOUND_POLICY"></a></li>
              <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.SHIPPING_GUIDE"></a></li>
              <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.INTERNATIONAL_SHIPPING"></a></li>
              <li><a href="#" translate="FOOTER.SUPPORT.ITEMS.CAREER"></a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="footer-link res_mar">
            <p translate="FOOTER.HEADERS.BUSINESS"></p>
            <ul>
              <li><a href="#" translate="FOOTER.BUSINESS.ITEMS.ADVERTISE">About Our Shop</a></li>
              <li><a href="#" translate="FOOTER.BUSINESS.ITEMS.SELL_WITH_US">Secure Shopping</a></li>
              <li><a href="#" translate="FOOTER.BUSINESS.ITEMS.SUPPORT_B2B">Delivery Information</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="footer-link">
            <p translate="FOOTER.HEADERS.INFORMATION"></p>
            <ul>
              <li><a href="#" translate="FOOTER.INFORMATION.ITEMS.ABOUT_US"></a></li>
              <li><a href="#" translate="FOOTER.INFORMATION.ITEMS.FAQ"></a></li>
              <li><a href="#" translate="FOOTER.INFORMATION.ITEMS.LEGAL"></a></li>
              <li><a href="#" translate="FOOTER.INFORMATION.ITEMS.CAREERS"></a></li>
              <li><a href="#" translate="FOOTER.INFORMATION.ITEMS.PRESS"></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer_bottom footer-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="copyright">
            <p translate="FOOTER.COPYRIGHTS"
               translate-values="{ year: '{{footer.year}}', website: '{{footer.company.website}}', company: '{{footer.company.name}}'}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>